# Copier en .env.local et remplir
# Clé "anon" Supabase (publique, respecte le RLS) — Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://nswlkfcleqvziapdgrrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zd2xrZmNsZXF2emlhcGRncnJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzU3NDIsImV4cCI6MjA5NzIxMTc0Mn0.2HC5HVwb3ZGb0g_VCGs7U9pg98RsyY-hWp6nOEsn3Jw
# URL du backend FastAPI
NEXT_PUBLIC_API_URL=http://localhost:8000
